<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image" href="/src/images/logoblack.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holly Tyler</title>
</head>
<body>
  <header>
  <nav>
      <ul class="nav-items">
        <li>
          <a id="home-button" href="/">Home</a>
        </li>
        <li>
          <a id="about-me" href="#about">About Me</a>
        </li>
        <li>
          <a id="contact-me" href="#contact">Contact Me</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>