{% extends 'base.jinja' %}

{% block content %}

<div class="home">
  <h1>Holly Tyler</h1>
  <h2>Software Engineer</h2>
  <h3>Fantastic Beasts and Where We Mend Them</h3>
  <img class="homepage-image" src="/static/images/niffler_under_willow.jpg">
</div>

{% endblock  %}